@import "../../../components/GlobalStyles/Responsive/Responsive.scss";

:root {
  --sidebar-devider-spacer: 40px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-180px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.modal {
  @include medium {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(17, 22, 44, 0.6);
    backdrop-filter: blur(4px);
    height: 100vh;
  }
}

.close-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
  display: none;

  @include medium {
    display: block;
  }
}

.wrapper {
  min-width: var(--sidebar-tablet-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: #fdfaf9;
  border-right: 1px solid var(--border-color);
  transition: all 0.1s ease-in-out;

  &.active {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background: #fdfaf9;
    border-right: 1px solid var(--border-color);
    display: block;

    @include medium {
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 40%;
      left: 0;
      bottom: 0;
      animation: slideIn 0.2s ease-in-out;
    }

    @include x-small {
      right: 20%;
    }
  }

  @include small {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  height: 42px;
  margin-top: 24px;

  @include small {
    width: 88px;
    height: unset;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  max-width: 90%;
  padding: 12px 0;
  margin-top: 5px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 5px;
  position: relative;
  color: #585757;
  cursor: pointer;

  @include medium {
    max-width: 60%;
  }

  @include small {
    justify-content: unset;
    max-width: 80%;
  }

  &:hover {
    background-color: rgba(245, 142, 106, 0.8);
    color: #fff;

    svg {
      stroke: #fff;
    }
  }

  svg {
    stroke: #969696;
  }

  &.active {
    background-color: var(--primary);
    color: #fff;
    &::before {
      content: "";
      position: absolute;
      left: -16px;
      top: 6px;
      bottom: 6px;
      width: 4px;
      background-color: var(--primary);
      border-radius: 0 6px 6px 0;
    }

    svg {
      stroke: #fff;
    }
  }

  &.top-devider {
    margin-top: var(--sidebar-devider-spacer);

    &::after {
      content: "";
      position: absolute;
      top: calc(var(--sidebar-devider-spacer) / -2);
      width: 100%;
      height: 1px;
      background-color: var(--border-color);
    }
  }

  .icon {
    display: flex;
    margin-left: 17px;
    margin-right: 14px;
  }
}

@include x-small {
  .label {
    display: block;
  }
}
