@import "../../../components/GlobalStyles/Responsive/Responsive.scss";

.wrapper {
  height: 76px;
  background: #fdfaf9;
  border-bottom: 1px solid var(--border-color);
  padding: 0 71px 0 47px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color-soft);

  @include small {
    padding: 0 20px;
  }
}

.hide-menu {
  display: flex;
  align-items: center;
  cursor: pointer;

  .hide-menu-text {
    margin-left: 19px;
    font-size: 1.4rem;

    @include small {
      display: none;
    }
  }

  .hide-menu-icon {
    display: block;

    @include small {
      display: none;
    }
  }

  .show-menu-icon {
    display: none;
    @include small {
      display: block;
    }
  }
}

.show-menu-icon {
  display: none;

  @include small {
    display: block;
  }
}

.user {
  display: flex;
  align-items: center;
}

.username {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 15px;

  .name {
    color: #4c5363;
    font-weight: 500;
  }
  .role {
    font-size: 1.2rem;
  }

  @include small {
    display: none;
  }
}

.mobile-logo {
  display: none;

  @include small {
    display: flex;
    align-items: center;

    .logo {
      width: 88px;
    }
  }
}
